@import "normalize";
@import "foundation";

body {
	background: $smoke url(../img/bg-page.png);
}

h3 {
	line-height: 1.375;
}

.button {
	background-image: linear-gradient( to bottom, #f27458  0%, #ef6347 100%);
	box-shadow: inset 0px 2px 0px rgba($white, 0.44);
	text-shadow: 0px 1px 1px rgba($white, 0.55);
	padding:9px 13px;
	&:hover {
		background-image: linear-gradient( to bottom, #ef6347  0%, #f27458 100%);
		text-decoration: none;
	}
}
.button.secondary {
	background-image: linear-gradient( to bottom, #eee  0%, #ddd 100%);
	box-shadow: 0px 1px 1px #aaa, inset 0px 1px 0px 0px rgba($white, 0.86);
	text-shadow: 0px 1px 1px rgba($white, 0.55);
	&:hover {
		background-image: linear-gradient( to bottom, #ddd  0%,  #eee 100%);
	}
}
.button.large {
	padding:11px 14px;
}


%bottom-layers {
	&:before,
	&:after {
		position: absolute;
		content:"";
		height: 3px;
		border: 1px solid $gainsboro;
		background: $white;
		border-top: none;
	}
	&:before {
		left: 6px;
		right: 6px;
		bottom:-3px;
	}
	&:after {
		left: 12px;
		right: 12px;
		bottom:-6px;
	}
}

%listreset {
	margin: 0 0 rem-calc(20);
	padding: 0;
	list-style: none;
}

.ba-wrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
}
.ba-header {
	min-height: 91px;
	background: url(../img/bg-header-img.jpg) no-repeat;
	background-size: cover;
	margin-bottom: 28px;
	position: relative;
	@media #{$small-only} {
		min-height: 0;
		background: $oil;
	}
	&:after {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		bottom: -5px;
		width: 100%;
		background: url(../img/bg-header2.png);
		content:"";
	}
}
.top-bar-section {
	li:not(.has-form) a:not(.button) {
		text-align: center;
		&:hover {
			text-decoration: none;
		}
	}
	@media #{$small-only} {
		margin:0 -$column-gutter/2;
	}
} 
.top-bar {
	position: relative;
	z-index: 5;
	background: #353533 url(../img/bg-header.png);
	margin: 0 -9999px;
	padding: 0 9999px;
	.name {
		background-color: $primary-color;
		padding: 4px 40px 4px 9999px;
		margin-left: -9999px;
		margin-right: 12px;
		@media #{$large-up} {
			padding-right:109px;
		}
		@media #{$small-only} {
			float: left;
		}
	}
	.toggle-topbar.menu-icon {
		margin-top: 5px;
		a:hover,
		a:focus {
			text-decoration: none;
		}
	}
}

.ba-content {
	padding-bottom: 20px;
}

.ba-post {
	@extend %bottom-layers;
	margin-bottom: 32px;
	position: relative;
	&__visual {
		border: 1px solid $gainsboro;
		background: $white;
		padding:6px;
		margin-bottom: 8px;
		position: relative;
		img {
			width: 100%;
		}
	}
	&__share {
		position: absolute;
		bottom: 25px;
		left: 58px;
		@media #{$small-only} {
			bottom: 12px;
			left: 20px;
		}
		.ba-social {
			margin: 0;
			li {
				display: block;
				margin:8px 0 0;
			}
		}
	}
	&__content {
		border: 1px solid $gainsboro;
		background: $white url(../img/bg-post.png);
		padding: 36px 35px 40px;
		font-size: 12px;
		:last-child {margin-bottom: 0;}
		@media #{$small-only} {
			padding: 20px;
		}
	}
	&__visual + &__content {
		position: relative;
		  &:after,
		  &:before {
		    bottom: 100%;
		    left: 70px;
		    border: solid transparent;
		    content: " ";
		    height: 0;
		    width: 0;
		    position: absolute;
		    pointer-events: none;
		  }
		  &:after {
		    border-color: transparent;
		    border-bottom-color: $white;
		    border-width: 16px;
		  }
		  &:before {
		    border-color: transparent;
		    border-bottom-color: $gainsboro;
		    border-width: 17px;
		    margin-left: -1px;
		  }
	}
	&__title {
		a {
			color:$header-font-color;
			&:hover {
				color:$primary-color;
				text-decoration: none;
			}
		}
	}
	&__date {
		display: block;
		font-size: rem-calc(11);
		color: $base;
		margin-bottom: 1rem;
	}
	&--small {
		.ba-post__content {
			padding-bottom: 50px;
			@media #{$small-only} {
				padding-bottom: 20px;
			}
		}
		.ba-post__title {
			margin-bottom: 0.75rem;
		}
		.ba-post__date {
			margin-bottom: 0.6875rem;
		}
	}
}

.ba-columns-holder {
	@media #{$large-up} {
		.ba-post {
			margin-left: 10px;
			margin-right: 10px;
		}
	}
	
}

.ba-sidebar {
	&__box {
		@extend %bottom-layers;
		position: relative;
		border: 1px solid $gainsboro;
		background: $white url(../img/bg-post.png);
		padding: 36px 35px 40px;
		font-size: 12px;
		margin-bottom: 36px;
		&:before,
		&:after {margin-bottom: -1px;}
		:last-child {margin-bottom: 0;}
		@media #{$small-only} {
			padding:20px;
		}
	}
}

.ba-widget {
	margin-bottom: 30px;
	p {
		font-style: italic;
	}
	&__title {margin-bottom: .4375rem;}
	&__subtitle {
		display: block;
		font-size: rem-calc(11);
		color: $base;
		margin-bottom: .6875rem;
	}
	:last-child {margin-bottom: 0;}
	&--subscribe {
		color: $oil;
		p {
			font-size: rem-calc(11);
			line-height: 1.636;
		}
		
	}
}

.ba-subscribe-form {
	border-radius: $global-radius;
	background-color: $input-bg-color;
	border:1px solid $input-border-color;
	box-shadow: $input-box-shadow;
	position: relative;
	padding:7px 75px 7px 16px;
	max-width: 450px;
	input[type="text"],
	input[type="email"] {
		background: none;
		border: none;
		box-shadow: none;
		margin: 0;
		padding:0 0 0 28px;
		background:url(../img/email.svg) no-repeat 2px 50%;
	}
	.button {
		position: absolute;
		top: 5px;
		right: 6px;
	}
	.ba-sidebar & {
		padding:8px 75px 8px 12px;
		margin:0 -3px 13px;
		.button {top: 6px;}
	}
}

.ba-recent {
	@extend %listreset;
	padding-top: 6px;
	&__item {
		position: relative;
		padding:6px 0 6px 14px;
	}
	&__title {
		font-size: $paragraph-font-size;
		font-weight: $font-weight-normal;
		font-style: italic;
		line-height: 1.667;
		margin: 0;
		a {
			color: $oil;
			position: relative;
			display: inline-block;
			&:before {
				position: absolute;
				top: 6px;
				left: -14px;
				content:"";
				border:solid 3px transparent;
				border-width:3px 5px;
				border-left-color: #6d6d6d;
			}
			&:hover {
				text-decoration: none;
				color: $primary-color;
			}
		}
	}
	&__date {
		display: block;
		font-size: rem-calc(10);
		color: $base;
		margin-top: -2px;
	}
}

.ba-tags {
	@extend %listreset;
	padding:5px 0 0;
	&__item {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 4px;
	}
}

.ba-footer {
	background-color: #343434;
	padding-top: 50px;
	padding-bottom: 100px;
	color: $white;
	@media #{$small-only} {
		padding-top: 20px;
		padding-bottom: 40px;
	}
	p {line-height:1.667;}
	.ba-widget {
		margin-bottom: 24px;
		p {font-style: normal;}
	}
}

.ba-social {
	@extend %listreset;
	margin-bottom: 38px;
	li {
		display: inline-block;
		vertical-align: top;
		margin-right: 10px;
	}
	a {
		width: 48px;
		height: 48px;
		background-color: $primary-color;
		border-radius: 50%;
		display: block;
		padding:12px;
		&:hover {
			background-color: lighten($primary-color,5%);
		}
	}
	.icon {
		width: 100%;
		height: 100%;
		fill:$white;
		filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.2));
		-webkit-filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.2));
	}
	.icon-rss {padding:3px;}

}

.ba-copyright {
	opacity:.5;
}

.ba-newsletter {
	padding:6px 14px;
	@media #{$small-only} {
		padding: 0;
	}
}

.ba-share-panel {
	position: fixed;
	top: 50%;
	left: 0;
	margin-top: -95px;
	ul {
		@extend %listreset;
		border: 1px solid #d75f48;
		border-radius: 0 3px 3px 0;
		background-image: linear-gradient( to bottom, #f47c60  0%, #ef5f44 100%);
	}
	a {
		width: 40px;
		height: 47px;
		display: block;
		padding:12px 8px;
		box-shadow:inset 0 1px rgba($white, .1);
		&:hover {
			background-color: rgba(#cd4f3a,.5);
		}
	}
	li + li a {
		border-top: 1px solid #cd4f3a;
	}
	.icon {
		width: 100%;
		height: 100%;
		fill:#bb341b;
		filter: drop-shadow(0px 1px 0 rgba($white, .6));
		-webkit-filter: drop-shadow(0px 1px 0 rgba($white, .6));
	}
	.icon-rss {padding:2px;}
}
